<div class="row">
	<blockquote>Bout d'histoire par-ci par-l&agrave; &agrave; compl&egrave;ter. Anciens ne vous g&ecirc;nez pas !</blockquote>
	<p>Notre comit&eacute; est constitu&eacute; d'&eacute;tudiants provenant des &eacute;coles <a href="http://www.prov-liege.be/epl/sup/p23.php" title="Lien externe vers le site de l'INPRES">INPRES</a> et <a href="http://www.ping.be/isat/" title="Lien externe vers le site de Blaise Pascal">ISAT</a> de Seraing.</p>
	<p>Prenant naissance en 1989 lorsque l'ISIL quitte les locaux et que l'INPRES voit le jour.
	C'est le comit&eacute; des &eacute;tudiants de l'internat qui, ensuite, s'&eacute;tendra progressivement aux externes pour devenir ce qu'il est aujourd'hui.</p>
	
	<p>
	Notre insigne a &eacute;t&eacute; cr&eacute;&eacute; en 2004 sur
	proposition de <a href="#" class="top">Bistrot</a> illustrant les divers branches d'&eacute;tudes composant le comit&eacute; : &eacute;lectro-m&eacute;canique + informatique.
	Il sera vectoris&eacute; par <a href="#" class="top">Holy</a> en 2006 pour des raisons d'impression.
	Ensuite, en 2008, il sera revu et corrigé par <a href="#" class="top">Tityllya</a> pour améliorer son visuel.
	</p>
	
	<p class="text-center">
		<img src="images/logos/logo-2004.gif" alt="logo 2004" /> <img src="images/logos/logo-2006.gif" alt="logo 2006" /><br />
		2004 - 2006
	</p>
	
	<p class="text-center">
		<img src="images/logos/logo-2008.gif" alt="logo 2008" /><br />2008
	</p>
	
	<p>Le caf&eacute;/snack "La Fringale" est LE caf&eacute; du comit&eacute; depuis le d&eacute;but et m&ecirc;me avant,
	mais avec la d&eacute;centralisation des comit&eacute;s dans le carr&eacute; de Li&egrave;ge nous nous
	sommes d&eacute;plac&eacute; &agrave;tout d'abord à l'Imprévu, en suite au Saloon et maintenant à l'Embuscade
	depuis 2014. Ce qui fait que nous nous retrouvons souvent sur le temps de midi à la Fringale et que
	nos bleusailles se terminent à l'Embuscade.
	</p>
	<p>D'un point de vue logistique super développé, nos répet'chants se déroulent sous le pont de Seraing
	derrière la gare routière de Jemeppe. Quant à nos bleusailles, elles commencent généralement dans
	le parc à coté de Sainte Véronique pour se terminer à l'Embuscade.
	</p>
</div>
