<div class="row">
	<h2><a href="/membre/{{CUSTOM_MEMBER_URL}}">{{CUSTOM_NAME}}</a></h2>
	
	<div class="col-sm-5">
		<a href="{{CUSTOM_PICTURE}}" class="fancybox">
			<img src="{{CUSTOM_PICTURE}}" alt="" style="width: 100%;" />
		</a>
		
		<div class="text-center">
			<div class="stars">{{CUSTOM_ETOILES}}</div>
			<h4>{{CUSTOM_RANG}}</h4>
		</div>
	</div>
	
	<div class="col-sm-7">
		<h4>{{CUSTOM_BAPTISE}}</h4>
		
		<h4>Actuellement:</h4>
		{{CUSTOM_ACTUELLEMENT}}
		
		<h4>Titres de guindailles:</h4>
		<p>{{CUSTOM_TITRES}}</p>
		
		<h4>Etudes:</h4>
		<p>{{CUSTOM_ETUDES}}</p>
	</div>
</div>
