<div class="row">
    Notre comité est constitué d’étudiants issus des sections informatiques, techniques infographiques et électromécanique de la Haute École de la Province de Liège dans son aile située à Seraing (plus connue sous les anciens noms d’INPRES ou Rennequin Sualem) et d’Henallux Seraing (anciennement Haute École Blaise Pascal ou Aumôniers du Travail (ISAT)). L’INPRES voit le jour en 1989 lorsque l’ISIL quitte les locaux. Les étudiants de l’internat créent le comité qui se déroulera comme une initiation des petits nouveaux. S’étendant au fur et à mesure, le comité élargira ses frontières pour devenir ce qu’il est aujourd’hui.

    <h3 class="block">Nos QG</h3>
    Le premier café du comité et qui aura toujours une place spéciale dans nos coeurs est La Fringale
    qui ferma après 35 ans le 12 décembre 2014. (On dit merci qui ? Merci Jacques et Danielle bien sûr !)
    Scène de nos temps de midi, nous nous en sommes progressivement éloignés suite à la décentralisation des comités
    de le Carré de Liège. C’est à l’Imprévu que nous avons atterri en premier mais nous fûmes ensuite accueilli
    à Saloon et enfin à l’Embuscade depuis 2014, bars dans lesquels beaucoup d’entre nous ont fait leurs
    armes en tant que barmen.
    Si nos bleusailles et répèt’ chants se déroulaient jadis toutes à Seraing, suite aux nombreux inconvénients
    de notre ville d’origine nous avons progressivement déplacé l’ensemble nos activités au parc Sainte-Véronique de Liège.
    Néanmoins nous gardons à coeur de se souvenir de notre histoire, c’est pourquoi la première répèt’ chants
    se déroule sous le pont de Seraing, ainsi que la dernière.

    <h3 class="block">Notre insigne</h3>
    C’est en 2004 que Bistrot propose un premier logo. Il illustre les différents cursus que suivent les étudiants
    du comité: électromécanique et informatique. Il est composé d’un tonneau, d’un engrenage, d’une arobase
    et de la lettre grecque oméga. Pour des raisons d’impression, il sera vectorisé par Holy en 2006 et revu
    et corrigé par Tityllya pour améliorer son visuel.

    <p class="text-center">
        <img src="images/logos/logo-2004.gif" alt="logo 2004" /> <img src="images/logos/logo-2006.gif" alt="logo 2006" /><br />
        2004 - 2006
    </p>

    <p class="text-center">
        <img src="images/logos/logo-2008.gif" alt="logo 2008" /><br />2008
    </p>

    <h3 class="block">Les débuts du comité</h3>
    Lorsqu’il fut question de rentrer à (feu) l’AGES en 1991, il était nécessaire pour un comité d’avoir un chant
    et des couleurs. La légende raconte que ce fut pendant une nuit bien arrosée que Bugs et Chefneu écrivirent
    le chant de Seraing sur l’air du « Chanteur » de Balavoine. Présenté aux autres le matin-même, tous l’apprirent
    en vitesse pour le présenter à l’AGES dans la soirée. Les couleurs furent choisies avec la même désinvolture
    puisqu’il semblerait que nos anciens aient simplement sélectionné des couleurs qui n’étaient pas déjà prises.
    (Pour le code hexadécimal précis, on repassera, par contre on peut noter que le mauve de jadis était bien plus clair)
    Heureusement, ils décidèrent des plus belles couleurs qui existent.
    On peut considérer l’an 91 comme l’année de création officielle du comité tel qu'on le connaît de nos jours
    car c’est à ce moment-là qu’il fallut non seulement choisir couleurs et chant mais aussi créer les différents postes.
    Avant ça, il n’y avait aucune place précise si ce n’est celle du président.
    Cette année marque aussi l’ouverture du comité sur l’extérieur de l’internat, auquel le baptême était réservé auparavant.

    <h3 class="block">L'entrée l'AGEL</h3>
    Après la dissolution de l'AGES, les comités qui en faisaient partie étaient tributaires d'une autre association,
    l'AGEL, pour l'organisation des baptêmes. L'AGEL demandait un minimum de participation aux CB ex-AGES
    pour les différents événements qu'elle organisait mais ce sans aucune obligation ni punition.
    Seraing insista pour une présence et un travail irréprochables ce qui lui permit d'obtenir une invitation à
    entrer dans l'AGEL en 2012, tout cela grâce au bon travail des présidents et secrétaires
    (qui officiaient comme RA à l'époque, ancien terme de DA pour l'ex-AGES).
    Suite à la confirmation qu'on ne devrait pas troquer nos capes contre des toges, le comité accepta avec plaisir.
</div>
