<div class="row">
	<h3>Pr&eacute;sidence</h3>
	<p>Question sur notre association, notre programme ou nos activit&eacute;s.</p>
	<!-- <p class="align_droite"><a href="mailto:contact@cbseraing.be">cbseraing@gmail.com</a></p> -->
	<p class="align_droite"><a href="mailto:contact@cbseraing.be">contact@cbseraing.be</a></p>


	<h3>Webmaster</h3>
	<p>Probl&egrave;me de compte ou une erreur sur une page.</p>
	<!-- <p class="align_droite"><a href="mailto:web@cbseraing.be">root@maxux.net</a></p> -->
	<p class="align_droite"><a href="mailto:web@cbseraing.be">web@cbseraing.be</a></p>

	<h3>Secr&eacute;tariat</h3>
	<p>Soucis de dernière minute, pr&eacute;venir un retard.</p>
	<p><strong>0491 / 52 90 27</strong></p>
</div>
