<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{PAGE_TITLE}}</title>

        <base href="{{SITE_BASE}}" />

        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/style.css?force-3" rel="stylesheet" />
        <link href="css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="css/fonts.css" rel="stylesheet" />
        <!-- <link href="css/flipclock/flipclock.css" rel="stylesheet" /> -->

        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/jquery.fancybox.pack.js"></script>
        <!-- <script src="js/flipclock/flipclock.min.js"></script> -->
        <script src="js/script.js"></script>

        {{PRELOAD_HEAD}}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>

                                <a class="navbar-brand" href="./">
                                        <img src="images/logo.png" alt="CB Seraing" style="width: 80px;" />
                                </a>
                        </div>

                        <div class="collapse navbar-plain">
                                {{MENU_LOGIN}}
                        </div>

                        <div class="collapse navbar-collapse">
                                {{MENU}}
                        </div>
                </div>
        </div>

        <div class="container">
                <div class="home-content">
                        <h1>{{HEADER_TITLE}}</h1>
                </div>

                <!--
                <div class="row">
                    <div class="col-sm-12">
                        <div class="clock-remain-root">
                            <div class="clock-remain"></div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    var to = new Date(2017, 10, 26, 21, 0, 0, 0);
                    var diff = (to.getTime() - new Date().getTime()) / 1000;

                    var clock = $('.clock-remain').FlipClock({
                        countdown: true,
                        autoStart: false,
                        clockFace: 'DailyCounter',
                        language: 'fr',
                    });

                    if(diff > 0) {
                        clock.setTime(diff);
                        clock.start();
                    }
                </script>
                -->

                {{CONTAINER}}
        </div>

        <div class="footer">
                <div class="container">
                        <div class="col-sm-2">
                                <a href="#" class="top">On remonte ? <img src="images/totop.png" alt="" style="width: 15px;" /></a>
                        </div>
                        <div class="col-sm-5"></div>
                        <div class="col-sm-5 text-right">
                                <a href="./">cbseraing.be</a> par <a href="/membre/268/maxux">Maxux</a></a>, design par <a href="/membre/368/scum" class="green">Scum</a><br />
                                Sur base du site original fait par <a href="/membre/16/killan">Killan</a> et <a href="#">Chip</a>
                        </div>
                </div>
        </div>

        <script src="js/bootstrap.min.js"></script>
</body>
</html>
