<div class="row">

<p class="bloc">Vous n'êtes pas sans savoir qu'en dehors des couleurs facultaires, et des insignes de bases peuvent aussi être portés d'autres insignes ayant chacun leur signification. Ceux ci sont généralement offerts á une personne digne de les porter. Leurs significations peuvent varier pour certain, c'est pour cela que vous trouverez parfois plusieurs définitions pour un même insigne.</p>
<p>Voici une liste non exhaustive reprenant ces divers insignes ainsi que leur signification respective.</p>

<table class="table table-hover">
	<thead>

		<td>Insignes</td>
		<td>Significations</td>
	</thead>
	<tr>
		<td>Abeille</td>
		<td>Travail assidu dans une corporation estudiantine</td>
	</tr>

	<tr>
		<td>Aigle germain</td>
		<td>Philologie germanique</td>
	</tr>
	<tr>
		<td>Ancre</td>
		<td>Amour de la navigation</td>

	</tr>
	<tr>
		<td>Alambic</td>
		<td>Chimie</td>
	</tr>
	<tr>
		<td>Alambic et fourquet</td>

		<td>Brasserie</td>
	</tr>
	<tr>
		<td>Anneaux olympiques</td>
		<td>Education physique</td>
	</tr>
	<tr>

		<td>Anneaux olympiques avec caducée médecine</td>
		<td>Kinésithérapie</td>
	</tr>
	<tr>
		<td>Bacchus (à l'endroit sur fond bleu)</td>
		<td>Roi des bleus</td>
	</tr>

	<tr>
		<td>Bacchus (à l'envers sur fond bleu)</td>
		<td>Vice-roi des bleus</td>
	</tr>
	<tr>
		<td>Bacchus (à l'endroit sur fond rouge)</td>
		<td>Roi des rois</td>

	</tr>
	<tr>
		<td>Bacchus (à l'envers sur fond rouge)</td>
		<td>Vice-roi des rois</td>
	</tr>
	<tr>
		<td>Balance</td>

		<td>Droit</td>
	</tr>
	<tr>
		<td>Balance et glaive</td>
		<td>Criminologie</td>
	</tr>
	<tr>

		<td>Ballon et cornu</td>
		<td>Assistant ou jobiste en labo</td>
	</tr>
	<tr>
		<td>Bobine</td>
		<td>Physique</td>
	</tr>

	<tr>
		<td>Bobine et éclairs</td>
		<td>Ingénieur industriel</td>
	</tr>
	<tr>
		<td>Bouteille de vin</td>
		<td>Grosse cuite</td>

	</tr>
	<tr>
		<td>Bouteille de champagne</td>
		<td>Coma éthylique</td>
	</tr>
	<tr>
		<td>Bourse</td>

		<td>trésorier d'une corporation estudiantine</td>
	</tr>
	<tr>
		<td>Caducée d'Hermès</td>
		<td>Ingénieur commercial</td>
	</tr>
	<tr>

		<td>Caducée sur coupe</td>
		<td>Pharmacologie</td>
	</tr>
	<tr>
		<td>Caducée des médecins</td>
		<td>Médecine</td>
	</tr>

	<tr>
		<td>Caducée des médecins sur lauriers</td>
		<td>Vétérinaire</td>
	</tr>
	<tr>
		<td>Caducée de psychologie</td>
		<td>Psychologie ou école normale</td>

	</tr>
	<tr>
		<td>Casque Romain</td>
		<td>Humanités latines</td>
	</tr>
	<tr>
		<td>Carotte</td>

		<td>Relation hétérosexuelle en guindaille</td>
	</tr>
	<tr>
		<td>Cartes à jouer</td>
		<td>Joueur</td>
	</tr>
	<tr>

		<td>Cerf</td>
		<td>Ardeur sexuelle</td>
	</tr>
	<tr>
		<td>Chaînette dorée</td>
		<td>Marié</td>
	</tr>

	<tr>
		<td>Chaînette argentée</td>
		<td>Fiancé</td>
	</tr>
	<tr>
		<td>Chameau</td>
		<td>sur ses pieds: Coeur à prendre</td>

	</tr>
	<tr>
		<td>Chameau renversé</td>
		<td>Coeur pris</td>
	</tr>
	<tr>
		<td>Charrue</td>

		<td>Agronomie</td>
	</tr>
	<tr>
		<td>Châssis à molette</td>
		<td>Carolo</td>
	</tr>
	<tr>

		<td>Chauve-souris</td>
		<td>Nuit blanche en guindaille</td>
	</tr>
	<tr>
		<td>Chope</td>
		<td>Amour de la bière</td>
	</tr>

	<tr>
		<td>Chouette</td>
		<td>Vie nocturne</td>
	</tr>
	<tr>
		<td>Ciseaux</td>
		<td>Rasé ou tondu</td>

	</tr>
	<tr>
		<td>Clé</td>
		<td>Gardien des biens d'une corporation estudiantine (Souvent le trésorier)</td>
	</tr>
	<tr>
		<td>Cochon sur pattes</td>

		<td>Baptiseur</td>
	</tr>
	<tr>
		<td>Cochon renversé</td>
		<td>Baptisé</td>
	</tr>
	<tr>

		<td>Coq Français</td>
		<td>Grande gueule</td>
	</tr>
	<tr>
		<td>Coq Wallon</td>
		<td>Wallon</td>
	</tr>

	<tr>
		<td>Coq (Grand)</td>
		<td>Français</td>
	</tr>
	<tr>
		<td>Couronne dorée</td>
		<td>- Etudiant à Namur<br />- Président d'une corporation estudiantine</td>

	</tr>
	<tr>
		<td>Couronne argentée</td>
		<td>Vice-président d'une corporation estudiantine</td>
	</tr>
	<tr>
		<td>Crabe</td>

		<td>Lenteur dans les études</td>
	</tr>
	<tr>
		<td>Dé à jouer</td>
		<td>Joueur</td>
	</tr>
	<tr>

		<td>Doudou</td>
		<td>Montois</td>
	</tr>
	<tr>
		<td>Ecureil</td>
		<td>Junior entreprise</td>
	</tr>

	<tr>
		<td>Epée</td>
		<td>- Fin baiseur<br />- Jardin secret complet</td>
	</tr>
	<tr>
		<td>Epi de blé</td>
		<td>Radin</td>

	</tr>
	<tr>
		<td>Epi de blé et faucille</td>
		<td>Chanceux aux examens</td>
	</tr>
	<tr>
		<td>Epsilon</td>

		<td>Scientifique en humanités</td>
	</tr>
	<tr>
		<td>Escargot</td>
		<td>- Lenteur dans les tâches<br />- Namurois</td>
	</tr>
	<tr>

		<td>Etoile dorée</td>
		<td>Paiement d'un minerval pour un type d'étude non encore presté</td>
	</tr>
	<tr>
		<td>Etoile argentée</td>
		<td>Paiement d'un minerval pour un type d'étude déjà presté (Bisseur)</td>
	</tr>

	<tr>
		<td>Etoile dorée sur fond bleu foncé</td>
		<td>Année complémentaire en langue (Supérieur)</td>
	</tr>
	<tr>
		<td>Etoiles (Petites) autour d'une lampe à huile</td>
		<td>Gréco-latines en humanités</td>

	</tr>
	<tr>
		<td>Etoiles (Petites) sur le velours</td>
		<td>une année dans certaines corporations</td>
	</tr>
	<tr>
		<td>Etoiles rouges</td>

		<td>Années d'études supérieures à l'étranger</td>
	</tr>
	<tr>
		<td>Etoile sur fond noir</td>
		<td>Année de fosile (Non baptisé)</td>
	</tr>
	<tr>

		<td>Fer à cheval</td>
		<td>Chanceux</td>
	</tr>
	<tr>
		<td>Feuille de vigne</td>
		<td>Dépucelé</td>
	</tr>

	<tr>
		<td>Flambeaux croisés</td>
		<td>Mathématiques</td>
	</tr>
	<tr>
		<td>Flèche</td>
		<td>Ejaculateur précoce</td>

	</tr>
	<tr>
		<td>Fleur de Lys</td>
		<td>- Scout ou royaliste<br />- Tournaisien</td>
	</tr>
	<tr>
		<td>Girafe</td>

		<td>- Vantard<br />- Fidèle (A l'endroit)<br />- Infidèle (A l'envers)</td>
	</tr>
	<tr>
		<td>Gazelle</td>
		<td>Rapide à l'à-fond</td>
	</tr>

	<tr>
		<td>Gille de Binche</td>
		<td>Binchois</td>
	</tr>
	<tr>
		<td>Globe</td>
		<td>Géographie</td>

	</tr>
	<tr>
		<td>Grappe de raisin</td>
		<td>- Amour du bon vin<br />- Perte de le virginité</td>
	</tr>
	<tr>
		<td>Grenouille dorée</td>

		<td>Délégué de cours et par extension président de cercle ou simplement comitard</td>
	</tr>
	<tr>
		<td>Grenouille argentée</td>
		<td>Vice délégué de cours (Même remarque que ci-dessus)</td>
	</tr>
	<tr>

		<td>Homard</td>
		<td>Mène grand train de vie</td>
	</tr>
	<tr>
		<td>Kangourou</td>
		<td>Grand dragueur qui conclut à chaque soirée</td>
	</tr>

	<tr>
		<td>Koala</td>
		<td>S'endort quand il est saoûl</td>
	</tr>
	<tr>
		<td>Laurier</td>
		<td>Sciences économiques</td>

	</tr>
	<tr>
		<td>Lampe à huile entourée de petites étoies</td>
		<td>Humanités gréco-latines</td>
	</tr>
	<tr>
		<td>Lampe à huile</td>

		<td>Infirmerie</td>
	</tr>
	<tr>
		<td>Lime</td>
		<td>Gros baiseur</td>
	</tr>
	<tr>

		<td>Lion</td>
		<td>Flamand ou patriote</td>
	</tr>
	<tr>
		<td>Livre et plume</td>
		<td>- Amour des lettres<br />- Secrétaire d'une association estudiantine</td>

	</tr>
	<tr>
		<td>Livre ouvert</td>
		<td>Théologie</td>
	</tr>
	<tr>
		<td>Lyre</td>

		<td>Amour de la musique</td>
	</tr>
	<tr>
		<td>Mains qui se serrent</td>
		<td>Amitié</td>
	</tr>
	<tr>

		<td>Manneken-pis</td>
		<td>Bruxellois</td>
	</tr>
	<tr>
		<td>Marteau, compas et piolet</td>
		<td>Ingénieur civil</td>
	</tr>

	<tr>
		<td>Molaire</td>
		<td>Dentisterie</td>
	</tr>
	<tr>
		<td>Navet</td>
		<td>Sodomie en guindaille</td>

	</tr>
	<tr>
		<td>Nounours</td>
		<td>Gros dormeur</td>
	</tr>
	<tr>
		<td>Noeud de magicien</td>

		<td>Assistants sociaux ou infirmières sociales</td>
	</tr>
	<tr>
		<td>Papillon</td>
		<td>Hâte dans les études</td>
	</tr>
	<tr>

		<td>Palme simple</td>
		<td>En fin de cycle</td>
	</tr>
	<tr>
		<td>Palme double</td>
		<td>Diplômé du cycle</td>
	</tr>

	<tr>
		<td>Pachyderme (Elephant)</td>
		<td>Humour peu raffiné</td>
	</tr>
	<tr>
		<td>Palette vernie</td>
		<td>Amour de la peinture</td>

	</tr>
	<tr>
		<td>Pendu</td>
		<td>Accaparé par sa belle (Par extension: marié)</td>
	</tr>
	<tr>
		<td>Perron Liégeois</td>

		<td>Liégeois</td>
	</tr>
	<tr>
		<td>Perroquet</td>
		<td>Grande gueule qui bavarde en corona</td>
	</tr>
	<tr>

		<td>Pi</td>
		<td>Mathématiques</td>
	</tr>
	<tr>
		<td>Pic et plusme croisés</td>
		<td>Archéologie</td>
	</tr>

	<tr>
		<td>Piolets doubles et croisés</td>
		<td>Géologie</td>
	</tr>
	<tr>
		<td>Phi-epsilon</td>
		<td>Mathématiques en humanités</td>

	</tr>
	<tr>
		<td>Plume</td>
		<td>- Philologie romane<br />- Amour des lettres</td>
	</tr>
	<tr>
		<td>Poignard</td>

		<td>Censeur attitré</td>
	</tr>
	<tr>
		<td>Poireau</td>
		<td>Fellation en guindaille</td>
	</tr>
	<tr>

		<td>Poule</td>
		<td>Fille très chaude</td>
	</tr>
	<tr>
		<td>Presse d'imprimerie</td>
		<td>Responsable d'un journal estudiantin</td>
	</tr>

	<tr>
		<td>Puits à charbon</td>
		<td>Carolo</td>
	</tr>
	<tr>
		<td>Rose</td>
		<td>Dépucelée en guindaille</td>

	</tr>
	<tr>
		<td>Sabot</td>
		<td>Amour du théâtre</td>
	</tr>
	<tr>
		<td>Saint-Michel</td>

		<td>Bruxellois</td>
	</tr>
	<tr>
		<td>Sanglier ou hure</td>
		<td>Luxembourgeois</td>
	</tr>
	<tr>

		<td>Singe</td>
		<td>Gros blagueur</td>
	</tr>
	<tr>
		<td>Singe du grand-garde</td>
		<td>Montois</td>
	</tr>

	<tr>
		<td>Soleil</td>
		<td>Philosophie et lettres</td>
	</tr>
	<tr>
		<td>Pièce trouée</td>
		<td>Nuit passée au poste de police pour motif estudiantin (Monnaie du pays)</td>

	</tr>
	<tr>
		<td>Sphynx</td>
		<td>- Polyglotte<br />- Traducteur, interprète</td>
	</tr>
	<tr>
		<td>Squelette sur les pieds</td>

		<td>Amour de l'anatomie du sexe opposé</td>
	</tr>
	<tr>
		<td>Squelette renversé</td>
		<td>Amour de l'anatomie du même sexe</td>
	</tr>
	<tr>

		<td>Symbole des deux sexes</td>
		<td>Biologie</td>
	</tr>
	<tr>
		<td>Taureau (Toré)</td>
		<td>Etudiant Liégeois</td>
	</tr>

	<tr>
		<td>Trèfle à quatre feuilles</td>
		<td>Chanceux</td>
	</tr>
	<tr>
		<td>Tête de cheval</td>
		<td>Vétérinaire</td>

	</tr>
	<tr>
		<td>Tête d'indien</td>
		<td>Buffalo</td>
	</tr>
	<tr>
		<td>Tête de loup</td>

		<td>Centrale ou chimacienne</td>
	</tr>
	<tr>
		<td>Tête de minerve</td>
		<td>Histoire</td>
	</tr>
	<tr>

		<td>Tête de mort sans fémur</td>
		<td>Echec total en septembre</td>
	</tr>
	<tr>
		<td>Tête de mort avec fémur</td>
		<td>Echec total ou abandon en juin</td>
	</tr>

	<tr>
		<td>Tête de périclès</td>
		<td>Philologie classique</td>
	</tr>
	<tr>
		<td>Tête de vache</td>
		<td>Deuxième session intégrale</td>

	</tr>
	<tr>
		<td>Tour</td>
		<td>Tournaisien</td>
	</tr>
	<tr>
		<td>Zéro</td>

		<td>Saoûl avant minuit</td>
	</tr>
</table>

</div>
