<div id="couleurs" class="row">
	<h3>Comit&eacute;s ex-AGES => AGESS</h3>
	<p>l'AGES (Association Générale des Etudiants du Supérieur)</p>
	<table>
		<thead>
			<td class="nom">Comités actifs</td>
			<td class="col3">Cape</td>
			<td class="col3">Liseret</td>
			<td class="col3">Penne</td>
		</thead>
		<tr>
			<td><a target="_blank" href="http://cbsaintlaurent.be/">Saint-Laurent</a></td>
			<td bgcolor="#000080">&nbsp;</td>
			<td bgcolor="#FF0000">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://cbisis.be/">ISIS</a></td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbseraing.be/">Seraing</a></td>
			<td bgcolor="#541E80">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://users.skynet.be/cbsainteju/">Sainte-Julienne</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#541E80">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td>Rivageois</td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td>Verviers</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://cbstex.heavenforum.com/">Saint-Croix</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#FF5500">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		
		
		<tr>
			<td><a target="_blank" href="http://comitejonfosse.be/">Jonfosse</a></td>
			<td bgcolor="#FF9900">&nbsp;</td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<thead>
			<td class="nom">Comités morts</td>
			<td class="col3">Cape</td>
			<td class="col3">Liseret</td>
			<td class="col3">Penne</td>
		</thead>
		<tr>
			<td>ISET</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#541E80">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td>CHS</td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#FF9900">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
		<tr>
			<td>Biochimie</td>
			<td bgcolor="#FF0000">&nbsp;</td>
			<td bgcolor="#541E80">&nbsp;</td>
			<td bgcolor="#666666">&nbsp;</td>
		</tr>
	</table>

	<h3 id="agel">Comit&eacute;s A.G.E.L.</h3>
	<p class="bloc">L'AGEL, Association Générale des Etudiants Liégeois, regroupe les différents comités et est l'organisateur officiel des grandes manifestations comme la Saint-Nicolas et la Saint-Toré. Les fêtes de Saint-Nicolas et Saint-Toré sont organisées par un bureau composé en général de six personnes. Ces six personnes sont élues par les seize membres du comité AGEL. Ce comité est composé uniquement de togés qui représentent leur faculté respective.</p>

	<table>
		<thead>
			<td class="nom">Comités actifs</td>
			<td class="col4">Toge</td>
			<td class="col4">Liseret</td>
			<td class="col4">Rabat</td>
			<td class="col4">Penne</td>
		</thead>
		<tr>
			<td><a target="_blank" href="http://www.cbhec.be/">HEC Ulg</a></td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#800000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbdroit.be/">Droit</a></td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://5934.alloforum.com/">Psychologie</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbphilo.be/">Philo &amp; lettres</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#FFCC00">&nbsp;</td>
			<td bgcolor="#FFCC00">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbmedecine.be/">Médecine</a></td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#FF0000">&nbsp;</td>
			<td bgcolor="#FF0000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
		</tr>
		
		<tr>
			<td>Pharmacie</td>
			<td bgcolor="#FF0000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://cbisepk.fede-ulg.org/">ISEPK</a></td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbinge.com/">Ingénieur</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbinfo.be/">Informatique</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#FF0000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbsciences.net/">Science</a></td>
			<td bgcolor="#800080">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cb-archisaintluc.be/">Architechture</a></td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbgrammoux.be/">Gramme</a></td>
			<td bgcolor="#FF6600">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.cbisil.be/">ISIL</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td>
				<table width="100%">
					<tr>
						<td width="50%" bgcolor="#FFFFFF">&nbsp;</td>
						<td width="50%" bgcolor="#008000">&nbsp;</td>
					</tr>
				</table>
			</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://users.skynet.be/fa084638/">Barbou</a></td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://cbdentisterie.be/">Dentisterie</a></td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#FFCC00">&nbsp;</td>
			<td bgcolor="#FFCC00">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
		</tr>
		
		<thead>
			<td class="nom">Comités morts</td>
			<td class="col4">Toge</td>
			<td class="col4">Liseret</td>
			<td class="col4">Rabat</td>
			<td class="col4">Penne</td>
		</thead>
		
		<tr>
			<td>EAA</td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#800000">&nbsp;</td>
		</tr>
		<tr>
			<td>HEC</td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#800000">&nbsp;</td>
		</tr>
		<tr>
			<td>Sciences éco.</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
		</tr>
		<tr>
			<td>Archi St Luc</td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
			<td bgcolor="#OOOOOO">&nbsp;</td>
		</tr>
		<tr>
			<td>Lambert Lomb.</td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
	</table>

	<h3 id="independant">Comit&eacute;s ind&eacute;pendants</h3>

	<table>
		<thead>
			<td class="nom">Comités actifs</td>
			<td class="col3">Cape / Band</td>
			<td class="col3">Liseret / Band</td>
			<td class="col3">Béret</td>
		</thead>
		<tr>
			<td><a target="_blank" href="http://cbaforum.forumactif.net/">Saint Luc (CBA)</a></td>
			<td bgcolor="#666666">&nbsp;</td>
			<td bgcolor="#FF6600">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
		<thead>
			<td class="nom">Comités morts</td>
			<td class="col3">Cape</td>
			<td class="col3">Liseret</td>
			<td class="col3">Penne</td>
		</thead>
		<tr>
			<td>Saint Martin</td>
			<td bgcolor="#800000">&nbsp;</td>
			<td bgcolor="#0000FF">&nbsp;</td>
			<td bgcolor="#0000FF">&nbsp;</td>
		</tr>
	</table>
	
	<h3 id="regionales">Les r&eacute;gionales (qui baptisent)</h3>
	<table>
		<thead>
			<td class="nom">Comités actifs</td>
			<td class="col4">Toge</td>
			<td class="col4">Liseret</td>
			<td class="col4">Rabat</td>
			<td class="col4">Penne</td>
		</thead>
		<tr>
			<td>GDL</td>
			<td bgcolor="#00ffff">&nbsp;</td>
			<td bgcolor="#ff0000">&nbsp;</td>
			<td bgcolor="#ff0000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
		<tr>
			<td><a target="_blank" href="http://www.paludia.be/">Paludia</a></td>
			<td bgcolor="#000000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#008000">&nbsp;</td>
			<td bgcolor="#000000">&nbsp;</td>
		</tr>
	</table>
	
	<table>
		
	</table>

	<h3 id="regionales">Les r&eacute;gionales</h3>

	<table>
		<thead>
			<td class="nom">Comités actifs</td>
			<td class="col1">Band</td>
		</thead>
	</table>
	<table>
		<tr>
			<td class="nom"><a target="_blank" href="http://www.lamalmedy.be/">Malmedy</a></td>
			<td class="col3" bgcolor="#000000">&nbsp;</td>
			<td class="col3" bgcolor="#FFCC00">&nbsp;</td>
			<td class="col3" bgcolor="#008000">&nbsp;</td>
		</tr>
		<tr>
			<td class="nom"><a target="_blank" href="http://www.luxliege.be/">Lux</a></td>
			<td class="col3" bgcolor="#00f">&nbsp;</td>
			<td class="col3" bgcolor="#fff">&nbsp;</td>
			<td class="col3" bgcolor="#f00">&nbsp;</td>
		</tr>
	</table>
	<table>
		<tr>
			<td class="nom"><a target="_blank" href="http://www.lahutoise.be/">Hutoise</a></td>
			<td class="col4" bgcolor="#00f">&nbsp;</td>
			<td class="col4" bgcolor="#fc0">&nbsp;</td>
			<td class="col4" bgcolor="#f00">&nbsp;</td>
			<td class="col4" bgcolor="#00f">&nbsp;</td>
		</tr>
	</table>
	<table>
		<tr>
			<td class="nom"><a target="_blank" href="http://www.vervietoise.be/">Vervietoise</a></td>
			<td class="col2" bgcolor="#008000">&nbsp;</td>
			<td class="col2" bgcolor="#fff">&nbsp;</td>
		</tr>
		<tr>
			<td>Liégeoise</td>
			<td bgcolor="#FF0000">&nbsp;</td>
			<td bgcolor="#FFCC00">&nbsp;</td>
		</tr>
	</table>

	<h3 id="regionales">Les Familles</h3>

	<table>
		<thead>
			<td class="nom"></td>
			<td class="col1">Band</td>
		</thead>
		<tr>
			<td><a target="_blank" href="http://www.bandbleu.be/">Band Bleu</a></td>
			<td bgcolor="#00f">&nbsp;</td>
		</tr>
	</table>
</div>
