<div class="row">
	<p>Ce site n'est pas l&agrave; pour recencer toute l'information concernant ce fabuleux sujet qu'est le folklore, pour &ccedil;a il y a d'autres resources, n&eacute;anmoins quelques bases essentielles pour nos chers bleus s'av&egrave;rent indispenssables !</p>
	<p>Au menu nous vous proposons :</p>
	<ul>
		<li><a href="/folklore/bleu" title="Le guide du bleu">Le guide du bleu</a> (tartin&eacute; de sirop de li&egrave;ge c'est excellent)</li>
		<li><a href="/folklore/insignes" title="Les insignes">Les insignes</a> (gare &agrave; l'indigestion...)</li>
		<li><a href="/folklore/comites" title="Les comit&eacute;">Les comit&eacute;s</a></li>
	</ul>
	
	<h3>Liens relatifs:</h3>
	<ul>
		<li><a href="http://www.comitards.be" title="Lien externe vers comitards" target="_blank">Comitards.be</a></li>
		<li><a href="http://fr.wikipedia.org/w/index.php?title=Special%3ASearch&search=comit%C3%A9+seraing&fulltext=Rechercher" title="Lien externe vers wikipedia" target="_blank">Wikipedia</a></li>
		<li><a href="http://folkliegeois.skyrock.com/" title="Lien externe vers folkliegeois" target="_blank">Folkliegeois</a></li>
	</ul>
</div>
