<div class="row">
    <h2>Le guide du bleu (par <a href="membre/chip" title="Voir la fiche de Chip">Chip</a>)</h2>

    <p><b>Bleu ! Cette page t'es dédiée, elle t'aidera durant toute la période de ton baptême</b></p>
    <p>Pour un bleu, il y a certaines règles importantes à ne jamais négliger, en voici les principales...</p>

    <dl class="dlpoints">
        <dt>Tu dois le respect à TOUS les baptisés.</dt>
        <dd><p class="bloc">Tu ne sera pas insolent. Tu baisseras les yeux lorsqu'ils te parleront. Tu garderas ton sourire en poche.</p></dd>

        <dt>Tu dois l'obéissance à TOUS les membres de ton comités et UNIQUEMENT aux présidents des autres comités et à ton parrain/marraine.</dt>
        <dd>
            <p>(Un président se reconnait parce qu'il porte 3 épi-capes)</p>
            <p class="bloc">Évidement lorsque vous êtes gueule en terre, il n'est pas évident de les voir mais (sauf cas extrèmes) on sera toujours présent pour vous le communiquer.</p>
        </dd>

        <dt>Tu ne dois pas obéissance aux autres membres des comités externes.</dt>
        <dd>
            <p>(Même les baptisés Seraing qui ne font pas/plus partie du comité)</p>
            <p class="bloc">Si un baptisé non-membre du comité Seraing va outre cette rêgle, vous n'avez en aucun cas le droit de violer la première rêgle, il est donc recommendé de venir nous prévenir et nous nous arrangerons avec la personne concernée.</p>
        </dd>

        <dt>Un membre du comité Seraing à la priorité (d'autorité sur vous) par rapport à un président externe.</dt>
        <dd><p class="bloc">Par exemple: Si un président externe vous met gueule en terre, nous avont le droit de vous relever (Même si il conteste).</p></dd>

        <dt>Un bleu doit toujours se donner à fond, il ne dois jamais prendre un ordre à la légère.</dt>
    </dl>

    <p>&nbsp;</p>
    <p>Nous sommes des gens responsables, nous savons ce que nous faisons, n'aillez donc aucunes craintes ;)</p>
    <p>Bref, nous vous gérons, nous sommes là pour veiller sur vous.</p>

    <h3 id="merci">Le remerciement</h3>
    <p class="bloc">Nous savons par expérience que le remerciement vous pose souvent problème, un petit rappel ne sera donc pas superflu.</p>
    <p>Lorsque qu'une personne vous relève, généralement : "A genoux bleu !"</p>

    <p>Commencez par :</p>

    <ol>
        <li>Merci à vous...</li>
        <li>Honorable, honnoré</li>
        <li>Vénérable, vénéré</li>
        <li>Redoutable, redouté</li>
        <li>Adorable, adoré</li>
        <li>Incommensurable, incommensuré</li>
        <li>Merci à vous, ô sérénissime Titre_de_la_personne</li>
    </ol>

    <p>Petit truc pour retenir l'ordre => <b>H.V.R.A.I.</b></p>

    <p class="bloc">Replongez ensuite directement gueule en terre et si la personne qui vous relève juge que votre remerciment était satisfaisant, il vous relevera pour de bon, généralement par le formule : "A genoux sans salut"</p>
</div>
