<!-- <iframe src="http://www.maxux.net/perso/cbseraing/bapteme/" class="hidden-xs" style="width: 100%; border: none;"></iframe> -->

<div class="row">
	<h2>Prochain évènement</h2>
	
	<div class="col-sm-5" style="margin-bottom: 15px;">
		<img src="images/covers/cover-rdb-2014.jpg" alt="" style="width: 100%;" />
	</div>
	
	<div class="col-sm-7">
		Viens voir nos bleus de con-pette affoner leur chopinettes !
		
		<h3 class="block">Où ?</h3>
		L'embuscade (carré)
		
		<h3 class="block">Quand ?</h3>
		Le 21 octobre 2014
		
		<h3 class="block">Oripeaux ?</h3>
		Complet
		
		<h3 class="block">Lien facebook:</h3>
		<a href="https://www.facebook.com/events/1553831624850340/" target="_blank">
			https://www.facebook.com/events/1553831624850340/
		</a>
	</div>
</div>

<h3 class="text-center">
	<a href="/agenda">Voir tout l'agenda</a><br />
	<a href="/events">Voir les events</a>
</h3>
