<!--
<iframe src="http://www.maxux.net/perso/cbseraing/bapteme/" class="hidden-xs" style="width: 100%; border: none;"></iframe>
-->

<div class="row">
	<h2>Prochain évènement</h2>
	
	<div class="col-sm-5" style="margin-bottom: 15px;">
		<a href="images/covers/cover-remise-2014.jpg" class="fancybox">
			<img src="images/covers/cover-remise-2014.jpg" alt="" style="width: 100%;" />
		</a>
	</div>
	
	<div class="col-sm-7">
		Ils sont baptisés, reste plus qu'à voir si ils méritent leur penne !
		
		<h3 class="block">Où ?</h3>
		Embuscade
		
		<h3 class="block">Quand ?</h3>
		Le samedi 29 novembre 2014
		
		<h3 class="block">Oripeaux ?</h3>
		Complet
		
		<h3 class="block">Lien facebook:</h3>
		<a href="https://www.facebook.com/events/1497756427179746/" target="_blank">
			https://www.facebook.com/events/1497756427179746/
		</a>
	</div>
</div>

<h3 class="text-center">
	<a href="/agenda">Voir tout l'agenda</a><br />
	<a href="/events">Voir les events</a>
</h3>
