<!--
<div class="row">
    <div style="text-align: center;">
        <div class="col-sm-6">
            <h1>Au début, ils étaient</h1>
            <div style="width: 160px; margin: auto;">
                <div class="blue-was"></div>
            </div>
        </div>

        <div class="col-sm-6">
            <h1>Ils ne sont plus que</h1>
            <div style="width: 160px; margin: auto;">
                <div class="blue-now"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var begin = $('.blue-was').FlipClock({{CUSTOM_COUNTER_WAS}}, {
        clockFace: 'Counter'
    });

    var now = $('.blue-now').FlipClock({{CUSTOM_COUNTER_NOW}}, {
        clockFace: 'Counter'
    });
</script>
-->
