<div class="row">
	<h2>Prochain évènement</h2>
	
	<div class="col-sm-5" style="margin-bottom: 15px;">
		<img src="images/covers/cover-parrainage-2014-3.jpg" alt="" style="width: 100%;" />
	</div>
	
	<div class="col-sm-7">
		C'est le moment, c'est l'instant ! Viens acheter ton bleu Seraing !
		
		<h3 class="block">Où ?</h3>
		L'embuscade (carré)
		
		<h3 class="block">Quand ?</h3>
		Le 2 octobre 2014
		
		<h3 class="block">Oripeaux ?</h3>
		Complet
		
		<h3 class="block">Lien facebook:</h3>
		<a href="https://www.facebook.com/events/643224535775056" target="_blank">
			https://www.facebook.com/events/643224535775056
		</a>
	</div>
</div>

<h1 class="text-center"><a href="/agenda">Voir tout l'agenda</a></h1>
