<div class="row">
	<h2>{{EVENT_NAME}}</h2>

	<div class="col-sm-5" style="margin-bottom: 15px;">
		<a href="images/covers/{{EVENT_COVER}}" class="fancybox">
			<img src="images/covers/{{EVENT_COVER}}" alt="" style="width: 100%;" />
		</a>
	</div>

	<div class="col-sm-7">
		{{EVENT_DESCRIPTION}}

		<h3 class="block">Où ?</h3>
		{{EVENT_WHERE}}

		<h3 class="block">Quand ?</h3>
		{{EVENT_WHEN}}

		<h3 class="block">{{EVENT_TITLE_ORIPEAUX}}</h3>
		{{EVENT_ORIPEAUX}}

		<h3 class="block">{{EVENT_TITLE_LINK}}</h3>
		<a href="{{EVENT_LINK}}" target="_blank">
			{{EVENT_LINK}}
		</a>
	</div>
</div>
