<ul class="nav navbar-nav">
    {{MENU_ITEMS}}
</ul>

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="images/search.png" alt="search" style="width: 15px;" />
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <!--
                <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Recherche">
                </div>
                </form>
                -->
                <a href="#">T'as qu'à chercher toi même pour l'instant</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">{{MENU_LOGIN}}</li>
</ul>
